<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            LOGO HERE
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Trang chủ</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/luckyWheel">Quay thưởng</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" *ngIf="role=='user'" [routerLink]="'/profile'">
                        Trang cá nhân
                    </a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isLogin==false" routerLink="/register">
                        Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isLogin==false" routerLink="/login">
                        Đăng nhập
                    </a>
                </li>
                <li class="nav-item">
                    <img src="./assets/images/trangcanhan.png" width="40" height="40" routerLink="/profile">
                </li>
            </ul>
        </div>
    </div>        
</nav>