<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="../../assets/images/logo2.jpg "
                      style="width:120px; height:12x0px" alt="logo">
                    <h5 class="mt-1 mb-5 pb-1" style="color:#EE0000">Cứ Zô Là May, Cứ Quay Là Trúng</h5>
                    <!-- <h4 class="mt-1 mb-5 pb-1" style="color:#EE0">Slogan 2 </h4> -->
                  </div>
  
                  <form>
                    <p>Vui lòng nhập thông tin đăng nhập</p>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="login_phoneNumber" class="form-control"
                        placeholder="Nhập số điện thoại" />
                      <label class="form-label" for="form2Example11">Số điện thoại</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="login_password" class="form-control" placeholder="Nhập mật khẩu" />
                      <label class="form-label" for="form2Example22">Mật khẩu</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="login()">Đăng nhập</button>
                      <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Bạn chưa có tài khoản?</p>
                      <a class="btn btn-outline-danger" type="button" routerLink="/register">Đăng ký</a>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Hướng tới hạnh phúc chung</h4>
                  <p class="small mb-0">"Hướng tới hạnh phúc chung" là khao khát mãnh liệt của chúng tôi 
                    về một sứ mệnh đóng góp và cống hiến cho xã hội. Sự hạnh phúc không đơn thuần là một khái niệm, 
                    chúng tôi sẽ đem lại những giá trị hiện hữu nhằm giúp con người trở lên hạnh phúc hơn đúng nghĩa.
                    Từ những điều kiện AN SINH CUỘC SỐNG, NÂNG CAO NHẬN THỨC  cho đến những CƠ HỘI LỰA CHỌN để thay đổi 
                    cuộc sống trở nên tốt đẹp hơn. Tập đoàn Zô cam kết sẽ hỗ trợ và đồng hành trọn đời với niềm hạnh phúc chung 
                    cho mọi người.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>