<app-header></app-header>
<main class="mission">
    <div>
        
    </div>
    <div class="list_attendance">
        <div class="attendance">
            <div class="bonus">
                +1 <br> <img src="../../assets/images/luotquay.png" *ngIf="src[0]==0" width="40" height="40">
                <img src="../../assets/images/tickV.png" *ngIf="src[0]==1" width="40" height="40">
            </div>
            <div class="day">
                <label>Ngày 1</label>
            </div>
        </div>
        <div class="attendance">
            <div class="bonus">
                +1 <br> <img src="../../assets/images/luotquay.png" *ngIf="src[1]==0" width="40" height="40">
                <img src="../../assets/images/tickV.png" *ngIf="src[1]==1" width="40" height="40">
            </div>
            <div class="day">
                <label>Ngày 2</label>
            </div>
        </div>
        <div class="attendance">
            <div class="bonus">
                +1 <br> <img src="../../assets/images/luotquay.png" *ngIf="src[2]==0"  width="" height="40">
                <img src="../../assets/images/tickV.png" *ngIf="src[2]==1" width="40" height="40">
            </div>
            <div class="day">
                <label>Ngày 3</label>
            </div>
        </div>
        <div class="attendance">
            <div class="bonus">
                +1 <br> <img src="../../assets/images/luotquay.png" *ngIf="src[3]==0" width="40" height="40">
                <img src="../../assets/images/tickV.png" *ngIf="src[3]==1" width="40" height="40">
            </div>
            <div class="day">
                <label>Ngày 4</label>
            </div>
        </div>
        <div class="attendance">
            <div class="bonus">
                +1 <br> <img src="../../assets/images/luotquay.png" *ngIf="src[4]==0" width="40" height="40">
                <img src="../../assets/images/tickV.png" *ngIf="src[4]==1" width="40" height="40">
            </div>
            <div class="day">
                <label>Ngày 5</label>
            </div>
        </div>
        <div class="attendance">
            <div class="bonus">
                +1 <br> <img src="../../assets/images/luotquay.png" *ngIf="src[5]==0" width="40" height="40">
                <img src="../../assets/images/tickV.png" *ngIf="src[5]==1" width="40" height="40">
            </div>
            <div class="day">
                <label>Ngày 6</label>
            </div>
        </div>
        <div class="attendance">
            <div class="bonus">
                +2 <br> <img src="../../assets/images/luotquay.png" *ngIf="src[6]==0" width="40" height="40">
                <img src="../../assets/images/tickV.png" *ngIf="src[6]==1" width="40" height="40">
            </div>
            <div class="day">
                <label>Ngày 7</label>
            </div>
        </div>
    </div>
    <div class="btn">   
        <button class="btn_attendance" type="button" (click)="attendances()">Điểm danh</button>
    </div>
    
</main>

