<app-header></app-header>
<main class="bg">
    <div class="wrapper-typo" id="wrapper">
        <section id="luckywheel" class="hc-luckywheel">
            <!-- <label for="user_name">Số tiền: {{data.money}}</label> -->
            <!-- <input type="password" class="form-control" [(ngModel)]="oldPass"> -->
            <div class="hc-luckywheel-container">
                <canvas class="hc-luckywheel-canvas" width="500px" height="500px">Vòng Xoay May Mắn</canvas>
            </div>
            <a class="hc-luckywheel-btn" href="javascript:;">Xoay</a>
        </section>
    </div>
</main>
