<section class="get-in-touch">
    <h1 class="title">ZZZZZ</h1>
    <form class="contact-form row">
       <div class="form-field col-lg-6">
          <input id="userName"  class="input-text js-input" type="text" required="required">
          <label class="label" for="name">Họ tên</label>
       </div>
       <div class="form-field col-lg-6 ">
          <input id="email" class="input-text js-input" type="email" required="required">
          <label class="label" for="email">Email</label>
       </div>
        <div class="form-field col-lg-6 ">
          <input id="phoneNumber" class="input-text js-input" type="text" required="required">
          <label class="label" for="phone">Số điện thoại</label>
       </div>
       <div class="form-field col-lg-6 ">
         <input id="password" autocomplete="off"  pattern=".{6,}" title="ít nhất 6 ký tự" class="input-text js-input" type="password" name="password" id="password" required="required">
         <label class="label" for="user_password">Mật khẩu</label>
       </div>
       <div class="form-field col-lg-6">
         <input id="rePassword" type="password" autocomplete="off" pattern=".{6,}" title="ít nhất 6 ký tự" class="input-text js-input" type="rePassword" name="password" required="required">
         <label class="label"  for="user_password_confirmation">Xác nhận mật khẩu</label>
       </div >
       <div class="form-field col-lg-12">
         <button class="submit-btn" type="submit" (click)="register()">Đăng
             ký</button>
          <!-- <input class="submit-btn" type="submit" value="Đăng ký"> -->
       </div>
    </form>
 </section>
 
 